<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    
    {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}
    
    Welcome to Khedival American Soldiers, a comprehensive digital collection dedicated to preserving the works of 45 American Civil War veterans who served in the Egyptian Army from 1869-1879. Ranging from explorers to engineers, from sixty year-old veterans to twenty-year old captains, and from Union to Confederate affiliations, this website captures their fascinating lives and how they experienced Egypt. Each soldier has his own folder filled with photographs, published works, and manuscripts as well. These items vary as much as their owners do, including, but not limited to: memoirs, diaries, scientific articles, reconnaissance reports, and novels. 

    
    These soldiers were products of their time. Some vocabulary found in their writing is a reflection of nineteenth-century Western attitudes. While these American soldiers did not go to Egypt to colonize the nation or to gain economic control, some of their interactions with the local people can be seen as offensive in our modern day. 

  </div>
</div>
